div#content {

    .searchContent {
        position: fixed;
        width: 100%;
        top: 0px;
        z-index: 1000;
        background: #fff;
        padding: 20px 60px;
    }

    margin-top: 100px;

    padding: 0 20px;

    #searchForm{
        margin-bottom: 30px;

        input {
            height: 60px;
            font-size: 3rem;
        }
    }   
    
    .trash-fav {
        cursor: pointer;
    }

    .orderIcon {
        cursor: pointer;
        font-size: 3rem;
    }

}

