<div id="content">
  <div class="searchContent">
    <div class="row">
      <div class="col-xs-1">

          <button (click)="lgModal.show()" type="button" class="btn btn-primary" *ngIf="favouriteService.favourites?.length" >
            <span class="glyphicon glyphicon-star "></span>
            {{favouriteService.favourites?.length}}
          </button>      

      </div>
      <div class="text-center col-xs-10">
        <input type="text" 
              class="searchField form-control input-lg" 
              name="criteria" 
              placeholder="Search..."
              id="criteria"
              [(ngModel)]="searchService.criteria"
              (keyup.enter)="onEnter()"  />
      </div>

      <div class="col-xs-1">          
            <span class="glyphicon orderIcon" (click)="toggleOrder()" 
            *ngIf="searchService.inList" 
            [ngClass]="{'glyphicon-chevron-down': searchService.order == '+username', 'glyphicon-chevron-up': searchService.order == '-username'}" ></span>
      </div>
      
    </div>
  </div>
  <router-outlet></router-outlet>

  <div bsModal #lgModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
  <div class="modal-dialog ">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title pull-left">Favourites</h4>
        <button type="button" class="close pull-right" (click)="lgModal.hide()" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <ul class="list-group">
            <li class="list-group-item" *ngFor="let user of favouriteService.favourites">
              <div class="row">
                <div class="col-xs-2">
                  <img src="{{user.avatar}}" class="img-responsive" alt="{{user.username}}"/>
                </div>
                <div class="col-xs-9">
                  {{user.name}} - {{user.username}}
                </div>
                <div class="col-xs-1 trash-fav">
                  <a class="glyphicon glyphicon-trash text-danger" (click)="favouriteService.remove(user)"></a>
                </div>
              </div>
            </li>
          </ul>     
      </div>
    </div>
  </div>
</div>

</div>

