.panel {
    .panel-heading {
        span.star {
            cursor: pointer;
            &.active {
                color: #FFFF00;
            }
        }

        cursor: pointer;
    }

    div.avatar {
        cursor: pointer;
    }
}