<div class="col-sm-4 col-xs-12" *ngFor="let user of users | orderBy: service.order">
  <div class="panel panel-primary">
    <div class="panel-heading"> 
      <h3 class="panel-title" ><span (click)="goToProfile(user.username)">{{user.name}} - {{user.username}}</span> 
        <span class="star glyphicon glyphicon-star pull-right" 
              [ngClass]="{'active': user.isFavourite}"
              (click)="favouriteService.toggleFav(user)"></span>
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-4 avatar" (click)="goToProfile(user.username)">
          <img src="{{user.avatar}}" class="img-responsive" alt="{{user.username}}"/>
        </div>
        <div class="col-xs-8">
          <p class="text-right"><strong>Suscription Date:</strong> {{user.createdAt | date: 'dd/MM/yyyy'}}</p>
          <p class="text-right"><strong>Followers:</strong> {{user.followers}}</p>
          <p class="text-right"><strong>Following:</strong> {{user.following}}</p>
        </div>
      </div>
    </div>
  </div>
</div>