<div class="col-sm-6 col-xs-12 col-sm-offset-3" >
  <div class="panel panel-primary">
    <div class="panel-heading"> 
      <h3 class="panel-title">{{user?.name}} - {{user?.username}} 
        <span class="star glyphicon glyphicon-star pull-right" 
              [ngClass]="{'active': user?.isFavourite}"
              (click)="favouriteService.toggleFav(user)"></span>
      </h3>
    </div>
    <div class="panel-body">
      <div class="row">
        <div class="col-xs-4">
          <img src="{{user?.avatar}}" class="img-responsive" alt="{{user?.username}}"/>
        </div>
        <div class="col-xs-8">
          <p class="text-right" *ngIf="user?.email" ><strong>E-mail:</strong> {{user?.email}}</p>
          <p class="text-right"><strong>Location:</strong> {{user?.location}}</p>
          <p class="text-right"><strong>Suscription Date:</strong> {{user?.createdAt | date: 'dd/MM/yyyy'}}</p>
          <hr />
          <p class="text-right"><strong>Followers:</strong> {{user?.followers}}</p>
          <p class="text-right"><strong>Following:</strong> {{user?.following}}</p>
          <hr />
          <p class="text-right"><strong>Github profile:</strong><a href="{{user?.profile}}">{{user?.profile}}</a></p>          
        </div>
      </div>
      <div>
        <h3>Repositories:</h3>
        
        <ul class="list-group">
          <li class="list-group-item" *ngFor="let repo of user?.repos">
            <h4>{{repo.fullname}}</h4>
            <p>{{repo.description}}</p>
            - <a href="{{repo.url}}">{{repo.url}}</a>
          </li>
        </ul>  
      </div>
    </div>
  </div>
</div>
